<%- include("header") -%>

<div class="error-page section">
    <div class="container">

        <div class="row">
            <div class="section-title">
                <h2 data-heading="404">Page not found</h2>
            </div>
        </div>

        <div class="row">
            <div class="error-item">
                <div class="error-item-inner">
                    <p>The link you clicked may be broken or the page may have been removed</p>
                    <a class="btn-1 outer-shadow hover-in-shadow" href="/">Home Page</a>
                </div>
            </div>   
        </div>
    </div>
</div>

<%- include("footer") -%>