  <!-- Style switcher start - for demo purposes only-->
  <div class="style-switcher outer-shadow">
    <div class="style-switcher-toggler s-icon outer-shadow hover-in-shadow">
      <i class="fas fa-cog fa-spin"></i>
    </div>
    <div class="day-night s-icon outer-shadow hover-in-shadow">
      <i class="fas "></i>
    </div>
  
    <h4>Theme Colors</h4>
  
    <div class="colors">
      <span class="color-1" onclick="setActiveStyle('color-1')"></span>
      <span class="color-2" onclick="setActiveStyle('color-2')"></span>
      <span class="color-3" onclick="setActiveStyle('color-3')"></span>
      <span class="color-4" onclick="setActiveStyle('color-4')"></span>
      <span class="color-5" onclick="setActiveStyle('color-5')"></span>
    </div>
  </div>
  <!-- Style switcher end   - for demo purposes only-->

<!-- main js -->
<script src="/js/main.js"></script>
<!-- style switcher js -->
<script src="/js/style-switcher.js"></script>
</body>
</html>
