<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
  <title>Ethan Dang</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="https://img.icons8.com/nolan/64/monitor.png" type="image/x-icon">
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
  <!-- <script src="https://kit.fontawesome.com/c6426d3c16.js" crossorigin="anonymous"></script> -->

  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- responsible css -->
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">

  <!-- default color skin -->
  <link rel="stylesheet" type="text/css" href="/css/skins/color-1.css">

  <!-- style switcher - for demo purposes only -->
  <link rel="stylesheet" type="text/css" class="alternate-style" title="color-1" href="/css/skins/color-1.css" disabled>
  <link rel="stylesheet" type="text/css" class="alternate-style" title="color-2" href="/css/skins/color-2.css" disabled>
  <link rel="stylesheet" type="text/css" class="alternate-style" title="color-3" href="/css/skins/color-3.css" disabled>
  <link rel="stylesheet" type="text/css" class="alternate-style" title="color-4" href="/css/skins/color-4.css" disabled>
  <link rel="stylesheet" type="text/css" class="alternate-style" title="color-5" href="/css/skins/color-5.css" disabled>

  <link rel="stylesheet" type="text/css" href="/css/style-switcher.css">
</head>

<body>